{% extends "base.html" %}
{% block content %}
<form action="/pets/{{animal.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{animal.name}}" readonly style="background-color: darkgray; opacity: 0.5;">
    </div>
    <div>
        <label for="species">Species:</label>
        <input type="text" id="species" name="species" value="{{animal.species}}" readonly style="background-color: darkgray; opacity: 0.5;">
    </div>
    <div>
        <label for="dob">Date of birth:</label>
        <input type="text" name="dob" id="dob" value="{{animal.dob}}" readonly style="background-color: darkgray; opacity: 0.5;">
    </div>
    <div>
        <label for="owner">Owner</label>
        <select id='owner' name="owner_id" required autofocus>
            {% for owner in owners %}
                <option value="{{owner.id}}">
                    {{owner.name}}
                </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="symptoms">Symptoms:</label>
        <input type="text" id="symptoms" name="symptoms" value="{{animal.symptoms}}" required>
    </div>
    <div>
        <label for="treatment">Recommended treatment:</label>
        <select id='treatment' name="treatment_id" required>
            {% for treatment in treatments %}
                <option value="{{treatment.id}}">
                    {{treatment.advice}}
                </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="vet">Assigned to:</label>
        <select id='vet' name="vet_id" required>
            {% for vet in vets %}
                <option value="{{vet.id}}">
                    {{vet.name}}
                </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Update details</button>
</form>
{% endblock %}
    