{% extends "base.html" %}
{% block content %}
<form action="/pets/{{animal.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{animal.name}}" readonly>
    </div>
    <div>
        <label for="species">Species:</label>
        <input type="text" id="species" name="species" value="{{animal.species}}" readonly>
    </div>
    <div>
        <label for="dob">Date of birth:</label>
        <input type="text" name="dob" id="dob" value="{{animal.dob}}" readonly>
    </div>
    <div>
        <label for="owner">Owner:</label>
        <input type="text" name="owner" id="owner" value="{{animal.owner.name}}" readonly>
    </div>
    <div>
        <label for="symptoms">Symptoms:</label>
        <input type="text" id="symptoms" name="symptoms" value="{{animal.symptoms}}" required autofocus>
    </div>
    <div>
        <label for="treatment">Recommended treatment:</label>
        <input type="text" id="treatment", name="treatment" value="{{animal.treatment.advice}}" required>
    </div>
    <div>
        <label for="meds">Recommended medication:</label>
        <input type="text" id="meds" name="meds" value="{{animal.treatment.meds}}">
    </div>
    <div>
        <label for="vet">Assigned to:</label>
        <select id='vet' name="vet_id">
            {% for vet in vets %}
                <option value="{{vet.id}}">
                    {{vet.name}}
                </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Update details</button>
</form>
{% endblock %}
    