{% extends "base.html" %}
{% block content %}

<p style="margin-bottom: 50px;"><a href="/pets/new">Add a new patient</a></p>

{% for animal in animals %}
    <div class ="animal">
        <div class="content">
            <b>{{animal.name}}</b>
            <div class="animal_details">
                <p>Species: {{animal.species}}</p>
                <p>Owner: {{animal.owner.name}}</p>
                <p>Under care of: {{animal.vet.name}}</p>
                <p><a href="/pets/{{animal.id}}">See details</a></p>
                <hr>
            </div>
         </div>
    </div>
{% endfor %}
{% endblock %}