{% extends "base.html" %}
{% block content %}

{% for animal in animals %}
    <div class ="animal">
        <div class="content">
            {{animal.name}}
            <div class="animal_details">
                <p>Species: {{animal.species}}</p>
                <p>Owner: {{animal.owner.name}}</p>
                <p>Under care of: {{animal.vet.name}}</p>
                <p><a href="/pets/{{animal.id}}">See details</a></p>
            </div>
         </div>
    </div>
{% endfor %}
{% endblock %}