{% extends "base.html" %}
{% block content %}
<div>
    <p><b>{{animal.name}}</b></p>
    <hr>
    <p>Species: {{animal.species}}</p>
    <p>Date of birth: {{animal.dob}}</p>
    <p>Owner's name: {{animal.owner.name}}</p>
    <p>Owner's phone number: {{animal.owner.phone}}</p>
    <p>Address: {{animal.owner.address}}</p>
    <p>Symptoms: {{animal.symptoms}}</p>
    <p>Suggested treatment: {{animal.treatment.advice}}</p>
    <p>Currently under care of: {{animal.vet.name}}</p>
    <p><a href="/pets/{{animal.id}}/edit">Update details</a></p>
    <form class = "delete_form" action="/pets/{{animal.id}}/delete" method="post">
        <p><button>Delete entry</button></p>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Warning!</strong> Clicking the Delete button will permanently remove the record from the database.
        </div>
    </form>
</div>
{% endblock %}