{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 50px;"><a href="/vets/new">Add a new staff member</a></p>
{% for vet in vets %}
    <div class="vet">
        <div class="content">
            <b>{{vet.name}}</b>
            <div class="vet details">
                <p>Email address: {{vet.email}}</p>
                <p>Speciality: {{vet.speciality}}</p>
                <p><a href="/vets/{{vet.id}}">See details</a></p>
                <hr>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}